## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df["APPLICATION_TYPE"].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_count[app_count < 50].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_count[class_count < 100].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies_df["IS_SUCCESSFUL"].values
X = dummies_df.drop("IS_SUCCESSFUL", axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  120
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 80
hidden_nodes_layer4 = 80
hidden_nodes_layer5 = 80

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="sigmoid"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               6240

 dense_1 (Dense)             (None, 80)                9680

 dense_2 (Dense)             (None, 80)                6480

 dense_3 (Dense)             (None, 80)                6480

 dense_4 (Dense)             (None, 80)                6480

 dense_5 (Dense)             (None, 1)                 81

=================================================================
Total params: 35,441
Trainable params: 35,441
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=200)

Epoch 1/200
804/804 [==============================] - 7s 5ms/step - loss: 0.6028 - accuracy: 0.6905
Epoch 2/200
804/804 [==============================] - 5s 7ms/step - loss: 0.5764 - accuracy: 0.7296
Epoch 3/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5747 - accuracy: 0.7301
Epoch 4/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5733 - accuracy: 0.7306
Epoch 5/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5649 - accuracy: 0.7299
Epoch 6/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5578 - accuracy: 0.7302
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7306
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7310
Epoch 9/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7313
Epoch 10/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7316
Epoch 11/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7323
Epoch 12/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5498 - accuracy: 0.7329
Epoch 13/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7326
Epoch 14/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7327
Epoch 15/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7341
Epoch 16/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7336
Epoch 17/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7345
Epoch 18/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 19/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7334
Epoch 20/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7331
Epoch 21/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7338
Epoch 22/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7329
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7350
Epoch 24/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7350
Epoch 25/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5447 - accuracy: 0.7347
Epoch 26/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 27/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7357
Epoch 28/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 29/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 30/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 31/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - accuracy: 0.7367
Epoch 32/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 33/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7350
Epoch 34/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7363
Epoch 35/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7365
Epoch 36/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7367
Epoch 37/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7365
Epoch 38/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7372
Epoch 39/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 40/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7378
Epoch 41/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7364
Epoch 42/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7372
Epoch 43/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 44/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 45/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7379
Epoch 46/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7369
Epoch 47/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7388
Epoch 48/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 49/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7378
Epoch 50/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7386
Epoch 51/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7391
Epoch 52/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7379
Epoch 53/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7389
Epoch 54/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7391
Epoch 55/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 56/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7401
Epoch 57/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7385
Epoch 58/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 59/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 60/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7398
Epoch 61/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7400
Epoch 62/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7399
Epoch 63/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 64/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7401
Epoch 65/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 66/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7406
Epoch 67/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 68/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7407
Epoch 69/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7408
Epoch 70/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7399
Epoch 71/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7402
Epoch 72/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 73/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 74/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 75/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 76/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 77/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 78/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7410
Epoch 79/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7406
Epoch 80/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7406
Epoch 81/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 82/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 83/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7406
Epoch 84/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7410
Epoch 85/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7412
Epoch 86/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7416
Epoch 87/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 88/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7406
Epoch 89/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7411
Epoch 90/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7408
Epoch 91/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7407
Epoch 92/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7407
Epoch 93/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5322 - accuracy: 0.7419
Epoch 94/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7420
Epoch 95/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 96/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7419
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7411
Epoch 98/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7412
Epoch 99/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5321 - accuracy: 0.7412
Epoch 100/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7417
Epoch 101/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7413
Epoch 102/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7421
Epoch 103/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7410
Epoch 104/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7406
Epoch 105/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5314 - accuracy: 0.7423
Epoch 106/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7407
Epoch 107/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7407
Epoch 108/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7416
Epoch 109/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7415
Epoch 110/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7415
Epoch 111/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5313 - accuracy: 0.7414
Epoch 112/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7410
Epoch 113/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7414
Epoch 114/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7422
Epoch 115/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7407
Epoch 116/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7423
Epoch 117/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5311 - accuracy: 0.7425
Epoch 118/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7420
Epoch 119/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7425
Epoch 120/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7416
Epoch 121/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7414
Epoch 122/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 123/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5305 - accuracy: 0.7424
Epoch 124/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7416
Epoch 125/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7423
Epoch 126/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7418
Epoch 127/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7420
Epoch 128/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7423
Epoch 129/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5302 - accuracy: 0.7421
Epoch 130/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7425
Epoch 131/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7424
Epoch 132/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7423
Epoch 133/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7428
Epoch 134/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7427
Epoch 135/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7425
Epoch 136/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5297 - accuracy: 0.7426
Epoch 137/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7423
Epoch 138/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7425
Epoch 139/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7427
Epoch 140/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7430
Epoch 141/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7435
Epoch 142/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5291 - accuracy: 0.7422
Epoch 143/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7428
Epoch 144/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7426
Epoch 145/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7423
Epoch 146/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7430
Epoch 147/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7427
Epoch 148/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5294 - accuracy: 0.7421
Epoch 149/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7430
Epoch 150/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7427
Epoch 151/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7426
Epoch 152/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7430
Epoch 153/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7430
Epoch 154/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5286 - accuracy: 0.7422
Epoch 155/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7434
Epoch 156/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7424
Epoch 157/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7438
Epoch 158/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7426
Epoch 159/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7432
Epoch 160/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5281 - accuracy: 0.7429
Epoch 161/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7429
Epoch 162/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7427
Epoch 163/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7430
Epoch 164/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7426
Epoch 165/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7427
Epoch 166/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5277 - accuracy: 0.7436
Epoch 167/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7427
Epoch 168/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7423
Epoch 169/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7434
Epoch 170/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5275 - accuracy: 0.7431
Epoch 171/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7431
Epoch 172/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5277 - accuracy: 0.7428
Epoch 173/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7434
Epoch 174/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7434
Epoch 175/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5274 - accuracy: 0.7434
Epoch 176/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5276 - accuracy: 0.7427
Epoch 177/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5273 - accuracy: 0.7430
Epoch 178/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5275 - accuracy: 0.7430
Epoch 179/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5274 - accuracy: 0.7434
Epoch 180/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7431
Epoch 181/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5271 - accuracy: 0.7436
Epoch 182/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5275 - accuracy: 0.7427
Epoch 183/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7433
Epoch 184/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5270 - accuracy: 0.7432
Epoch 185/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5268 - accuracy: 0.7434
Epoch 186/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7419
Epoch 187/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7434
Epoch 188/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5272 - accuracy: 0.7433
Epoch 189/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5274 - accuracy: 0.7439
Epoch 190/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5271 - accuracy: 0.7437
Epoch 191/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5273 - accuracy: 0.7432
Epoch 192/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5271 - accuracy: 0.7434
Epoch 193/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7428
Epoch 194/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5268 - accuracy: 0.7429
Epoch 195/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7442
Epoch 196/200

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5713 - accuracy: 0.7273 - 552ms/epoch - 2ms/step
Loss: 0.5712855458259583, Accuracy: 0.7273469567298889

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')